

/* 
    =====================>>>>>> Responsive Web Design - Media Queries
*/

/* Extra small devices (phones, 600px and down) */
@media only  screen and (max-width: 600px) 
{
    .main-service-right-float-div {padding-top: 30px;}
    .remove-dynamic-div-label{width: 27%;}
    .responsive-gallery-class{width: 100%;}
    .main-service-links-big-btn {height: 20%;}
    /* .main-service-right-float-div {padding-top: 35px; } */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
    .responsive-gallery-class{width: 50%;}
    .main-service-links-big-btn {height: 28%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
    .responsive-gallery-class{width: 20%;}
    .main-service-links-big-btn {height: 30%;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
    .main-service-links-big-btn {height: 16%;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
    .main-service-links-big-btn {height: 20%;}


}


